<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <!-- Search engines -->
    <meta name="description" content="Small kit starter">
    <!-- Google Plus -->
    <!-- Update your html tag to include the itemscope and itemtype attributes. -->
    <!-- html itemscope itemtype="http://schema.org/{CONTENT_TYPE}" -->
    <meta itemprop="name" content="Starter">
    <meta itemprop="description" content="Small kit starter">
    <meta itemprop="image" content="">
    <!-- Twitter -->
    <meta name="twitter:card" content="Starter">
    <meta name="twitter:site" content="Starter">
    <meta name="twitter:title" content="Starter">
    <meta name="twitter:description" content="Small kit starter">
    <meta name="twitter:creator" content="@Akashrine">
    <meta name="twitter:image:src" content="">
    <meta name="twitter:player" content="">
    <!-- Open Graph General (Facebook & Pinterest) -->
    <meta property="og:url" content="http://exemple.com">
    <meta property="og:title" content="Starter">
    <meta property="og:description" content="Small kit starter">
    <meta property="og:site_name" content="Starter">
    <meta property="og:image" content="">
    <meta property="fb:admins" content="admin">
    <meta property="fb:app_id" content="">
    <meta property="og:type" content="{{title}}">
    <meta property="og:locale" content="">
    <meta property="og:audio" content="">
    <meta property="og:video" content="">
    <!-- Open Graph Article (Facebook & Pinterest) -->
    <meta property="article:author" content="julien.brionne">
    <meta property="article:section" content="">
    <meta property="article:tag" content="">
    <meta property="article:published_time" content="">
    <meta property="article:modified_time" content="">
    <meta property="article:expiration_time" content="">
    <link rel="stylesheet" href="css/style.min.css">

</head>
<body>

